---
layout: default
---
						<!--▼記事コンテンツエリア : 開始-->
						<div class="content-area posts" role="main">
							<header class="page-header">
								<h1 class="archive-title">{{page.title}}</h1>
							</header><!--/.entry-header-->
							<!-- ▼ブログ記事一覧 : 開始 -->
{{content}}
							<!-- ▲ブログ記事一覧 : 終了 -->
						</div>
						<!--▲記事コンテンツエリア : 終了-->
						<!--▼ ページネーション : 開始-->
						<nav class="navigation pagination" role="navigation">
							<h2 class="screen-reader-text">投稿ナビゲーション</h2>
							<div class="nav-links"><span class='page-numbers current'>1</span>
							<a class='page-numbers' href='#'>2</a>
							<a class='page-numbers' href='#'>3</a>
							<a class="next page-numbers" href="#">次ページへ</a></div>
						</nav>
						<!--▲ ページネーション : 終了-->
