<!DOCTYPE html>
<html class="no-js">

	{% include head.html %}

	<body class="{{page.slug}}">

		{% include header.html %}

		<div id="main" class="l-two-column">

			<div class="container">

				<!-- メインカラム -->
				<div id="main-content" class="l-main site-main">

					{{ content }}

				<!-- /メインカラム -->
				</div>

				<!-- サイドバー -->
				<aside id="secondary" class="l-sidebar">

					{% include aside.html %}

				<!-- /サイドバー -->
				</aside>

			</div>

		</div>

		{% include footer.html %}

		{% include scripts.html %}

	</body>
</html>
