<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }}</title>
		<meta name="description" content="60年以上続くこの味を。名古屋市大曽根で楽しめる、本格的コーヒーショップ">
		<meta name="keywords" content="大曽根,カフェ,名古屋,老舗">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- build:css({app,.tmp}) /css/main.css -->
		<link rel="stylesheet" href="/css/main.css">
		<!-- endbuild -->

		<!-- build:js(app) /js/head-scripts.js -->
		<!-- Replace with a custom modernizer build for production -->
		<script src="/_bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->

	</head>
	<body class="{{page.slug}}">
		<!--[if lt IE 8]>
				<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		{% include header.html %}


		<div id="main" class="l-two-column">

			<div class="container">

				<div id="main-content" class="l-main site-main">
					{{ content }}

				<!-- /.l-main -->
				</div>

				<aside id="secondary" class="l-sidebar">
					{% include aside.html %}
				<!-- /.l-sidebar -->
				</aside>

			</div>

		</div>


		{% include footer.html %}

		{% include scripts.html %}

	</body>
</html>
