---
layout: default
---
<div id="primary" class="content-area posts">
  <div id="content" class="site-content" role="main">

    <article class="post hentry">

      <!-- 記事 - ヘッダー -->
      <header class="entry-header">
        <h1 class="entry-title">
          {{page.title}}
        </h1>
      </header>

      <!-- 記事 - コンテンツ -->
      <div class="entry-content">
        {{content}}

      </div>

      <!-- 記事 - フッター -->
      <footer class="entry-meta">

      </footer>

    </article>
  </div>
</div>

