---
layout: default
---
						<!--▼記事コンテンツエリア : 開始-->
						<div id="primary" class="content-area posts"  role="main">
								<article class="post hentry">
									<header class="entry-header">
										<h1 class="entry-title">{{page.title}}</h1>
									</header><!--/.entry-header-->
									<div class="entry-content">
										<!--▼記事コンテンツ : 開始-->
										{{content}}
										<!--▲記事コンテンツ : 終了-->
									</div><!--/.entry-content-->
								</article><!--/.hentry-->
						</div>
						<!--▲記事コンテンツエリア : 終了-->
						<p class="text-left">
							<a href="/menus/index.html">← メニュー一覧へ戻る</a>
						</p>
