<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body class="home">
    {% include header.html %}

    <div class="visual">
      <img src="/images/main-visual.png" alt="いっぱいに込める思い。OzoneCafe">
      <div class="container">
        <h1 class="site-desctiption">{{ page.description }}</h1>
      </div>
    </div>

    <main role="main">

      <div class="l-one-column clearfix">

        <div class="container">

          <div class="l-main">

            {{ content }}

          <!-- /.l-main -->
          </div>

        </div>

      </div>

    <main>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
