<!DOCTYPE html>
<html>

	{% include head.html %}

	<body class="home">
		{% include header.html %}

		<!--▼トップページ メインビジュアル : 開始-->
		<div class="visual">
			<img src="/images/home/main-visual.png" alt="いっぱいに込める思い。OzoneCafe">
			<div class="container">
				<h1 class="site-desctiption">
					{{ page.description }}
				</h1>
			</div>
		</div>
		<!--▲トップページ メインビジュアル : 終了-->

		<!--▼メインコンテンツ 開始-->
		<div id="main" class="l-one-column clearfix">

			<div class="container">

				<div class="l-main" role="main">

					{{ content }}

				</div><!-- /.l-main -->

			</div>

		</div>
		<!--▲メインコンテンツ 終了-->

		{% include footer.html %}

		{% include scripts.html %}

	</body>
</html>
