---
layout: default
---
						<!--▼記事コンテンツエリア : 開始-->
						<div id="primary" class="content-area posts">

							<article class="post hentry">

								<header class="entry-header">
									<h1 class="entry-title">
										{{page.title}}
									</h1>
								</header><!--/.entry-header-->

								<div class="entry-meta">
									<span class="author">投稿者 : wp-standard-design-book</span>
									<span class="date"><time class="entry-date">2014年9月22日</time></span>
									<span class="categories-links info"><a href="#" rel="category">新着情報</a></span>
								</div><!--./entry-meta -->

								<div class="entry-content">
									{{content}}
								</div><!--/.entry-content-->

								<footer class="entry-footer">
									<span class="comments-link"><a href="#">2件のコメント</a></span>
									<span class="tag-links"><a href="#" rel="tag"></a></span>
								</footer>


							</article>

							{% include comment.html %}
							{% include post-navigation.html %}

						</div>
						<!--▲記事コンテンツエリア : 終了-->
