---
layout: post
title: "ブログ : サイトを公開しました。"
description: '"一杯"に込める思い。OzoneCafe'
slug: "single"
---

								<div class="entry-meta">

									<span class="author">
										投稿者 : wp-standard-design-book
									</span>

									<span class="date">
										<time class="entry-date" datetime="2014-09-22T04:29:32+00:00">2014年9月22日</time>
									</span>

									<span class="categories-links info">
										<a href="http://test.wordpress.com/?cat=1" rel="category">新着情報</a>
									</span>

								</div>

								<p>2015年2月10日に本Webサイトをオープンしました。<br>
								WordCafe 最新情報、お役立ち情報を随時掲載していきます。</p>


								{% include post-navigation.html %}

								{% include comment.html %}
