				<!-- サイドバー - 検索 -->
				<div class="widget widget_search">
					<div class="search form-control">
						<input type="search" name="s" id="s" class="search-input" value="">
						<input type="submit" value="検索" class="search-submit">
					</div>
				</div>

				<!-- サイドバー - バナー -->
				<div class="banner">

					<p>
						<a href="/contact.html">
							<img src="/images/banner-contact.png" alt="お問い合わせ">
						</a>
					</p>

					<p>
						<a href="/shop/">
							<img src="/images/banner-access.png" alt="アクセス">
						</a>
					</p>

					<p>
						<a href="/blog/">
							<img src="/images/banner-blog.png" alt="ブログ">
						</a>
					</p>

				</div>

				<!-- サイドバー - カテゴリー -->
				<div class="widget widget_category">

					<h2 class="widget-title">
						メニューカテゴリー
					</h2>

					<ul>
						<li>
							<a href="/">アイスドリンク</a>
						</li>
						<li>
							<a href="/">ホットドリンク</a>
						</li>
						<li>
							<a href="/">フード</a>
						</li>
						<li>
							<a href="/">スイーツ</a>
						</li>
					</ul>

				</div>
