									<div id="comments" class="comments-area">

										<div id="respond" class="comment-respond">
											<h3 id="reply-title" class="comment-reply-title">コメントを残す
												<small><a rel="nofollow" id="cancel-comment-reply-link" href="/?p=1#respond" style="display:none;">コメントをキャンセル</a>
												</small>
											</h3>
											<form action="?" method="post" id="commentform" class="comment-form" novalidate="">
												<p class="comment-notes">メールアドレスが公開されることはありません。
													<span class="required">*</span>が付いている欄は必須項目です</p>
												<p class="comment-form-author">
													<label for="author">名前
															<span class="required">*</span>
													</label>
													<input id="author" name="author" type="text" value="" size="30" aria-required="true">
												</p>
												<p class="comment-form-email">
													<label for="email">メールアドレス
															<span class="required">*</span>
													</label>
													<input id="email" name="email" type="email" value="" size="30" aria-required="true">
												</p>
												<p class="comment-form-url">
													<label for="url">ウェブサイト</label>
													<input id="url" name="url" type="url" value="" size="30">
												</p>
												<p class="comment-form-comment">
													<label for="comment">コメント</label>
													<textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
												</p>
												<p class="form-allowed-tags">次の
													<abbr title="HyperText Markup Language">HTML</abbr>タグと属性が使えます:
													<code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;</code>
												</p>
												<p class="form-submit">
													<input name="submit" type="submit" id="submit" value="コメントを送信">
													<input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID">
													<input type="hidden" name="comment_parent" id="comment_parent" value="0">
												</p>
											</form>
										</div>
										<!-- #respond -->

									</div>
