			<!--▼フッター : 開始-->
			<footer id="colophon" class="footer text-center">

				<div class="container">

					<div class="footer-logo">
						<a href="/index.html"><img src="/images/footer-logo.png" alt="OzoneCafe"></a>
						<p>{{ page.description }}</p>
					</div><!--/.footer-logo-->

					<div class="footer-navigation">
						<ul>
							<li>
								<a href="/">トップページ</a>
							</li>
							<li>
								<a href="/shop/index.html">店舗案内</a>
							</li>
							<li>
								<a href="/menus/index.html">メニュー</a>
							</li>
							<li>
								<a href="/blog/index.html">ブログ</a>
							</li>
							<li>
								<a href="/recruit/index.html">スタッフ募集</a>
							</li>
							<li>
								<a href="/recruit/form.html">求人応募</a>
							</li>
							<li>
								<a href="/sitemap.html">サイトマップ</a>
							</li>
						</ul>

					</div><!--/.footer-navigation-->

					<div class="footer-copyright">
						<p>copyright © 2014 OzoneCafe All Right Reserved.</p>
					</div>

				</div>

			</footer>
			<!--▲フッター : 終了-->
