		<!-- ヘッダー -->
		<header id="masthead" class="header">

			<div class="container">

				<!-- ロゴ -->
				<div class="header-logo">
					<a href="/index.html">
						<img src="/images/logo.png" alt="OzoneCafe">
					</a>
				<!-- /ロゴ -->
				</div>

				<!-- グローバルナビゲーション -->
				<nav class="header-navigation">

					<ul class="nav-menu">

						<li>
							<a href="/index.html">HOME</a>
						</li>

						<li>
							<a href="/shop/index.html">SHOP</a>
							<ul class="sub-menu">
								<li><a href="/shop/taste.html">こだわり</a></li>
								<li><a href="/shop/history.html">歴史</a></li>
							</ul>
						</li>

						<li>
							<a href="/menus/index.html">MENUS</a>
						</li>

						<li>
							<a href="/recruit/index.html">RECRUIT</a>
							<ul class="sub-menu">
								<li><a href="/recruit/form.html">応募フォーム</a></li>
							</ul>
						</li>

						<li>
							<a href="/blog/index.html">BLOG</a>
						</li>

					</ul>
				<!-- /グローバルナビゲーション -->
				</nav>

			</div>
		<!-- /ヘッダーここまで -->
		</header>
