		<!-- ヘッダー -->
		<header id="masthead" class="header site-header">

			<div class="container">

				<!-- ロゴ -->
				<div class="header-logo">
					<a href="/">
						<img src="/images/logo.png" alt="OzoneCafe">
					</a>
				<!-- /ロゴ -->
				</div>

				<!-- グローバルナビゲーション -->
				<nav class="header-navigation">

					<ul class="nav-menu">

						<li class="menu-item">
							<a href="/" title="HOME">HOME</a>
						</li>

						<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
							<a href="/shop/">SHOP</a>
							<ul class="sub-menu">
								<li class="menu-item menu-item-home menu-item-2078"><a href="/shop/taste.html">こだわり</a></li>
								<li class="menu-item menu-item-home menu-item-2079"><a href="/shop/history.html">歴史</a></li>
							</ul>
						</li>

						<li class="menu-item">
							<a href="/menus/" title="MENUS">MENUS</a>
						</li>

						<li class="menu-item">
							<a href="/recruit/index.html" title="RECRUIT">RECRUIT</a>
						</li>

						<li class="menu-item">
							<a href="/blog/" title="BLOG">BLOG</a>
						</li>

					</ul>
				<!-- /グローバルナビゲーション -->
				</nav>

			</div>

		</header>
