		<!-- ▼ヘッダー : 開始 -->
		<header class="header">

			<div class="container">


				<div class="header-logo">
					<a href="/index.html"><img src="/images/common/logo.png" alt="Ozone Cafe"></a>
				</div><!--/.header-logo-->

				<nav class="header-navigation">

					<ul class="nav-menu">

						<li>
							<a href="/index.html">HOME</a>
						</li>

						<li>
							<span>SHOP</span>
							<ul class="sub-menu">
								<li><a href="/shop/index.html">店舗案内</a></li>
								<li><a href="/shop/taste.html">こだわり</a></li>
								<li><a href="/shop/history.html">歴史</a></li>
							</ul>
						</li>

						<li>
							<a href="/menus/index.html">MENUS</a>
						</li>

						<li>
							<span>RECRUIT</span>
							<ul class="sub-menu">
								<li><a href="/recruit/index.html">スタッフ募集</a></li>
								<li><a href="/recruit/form.html">応募フォーム</a></li>
							</ul>
						</li>

						<li>
							<a href="/blog/index.html">BLOG</a>
						</li>

					</ul>
				</nav><!--/.header-navigation-->

			</div>

		</header>
		<!-- ▲ヘッダー : 終了 -->

