										<nav class="navigation paging-navigation" role="navigation">
											<h1 class="screen-reader-text">投稿ナビゲーション</h1>
											<div class="nav-links">
												<div class="nav-previous">
													<a href="/">
														<span class="meta-nav">←</span> 古い投稿
													</a>
												</div>
												<div class="nav-next">
													<a href="/">
														新しい投稿 <span class="meta-nav">→</span>
													</a>
												</div>
											</div>
										</nav>
